body {
    margin-right: 100px;
    margin-left: 100px;
}
.is-hidden {
    display: none;
  }
/*Style header logo et titre*/
.header__blocs{
    text-align: center;
    color: #D04F4F;
}
/*Bar de recherche*/
.section__search{
    display: flex;
}
.search__input{
    display: flex;
    width: 90%;
    border-color: transparent;
    border-radius: 5px 0px 0px 5px;
    background: #E7E7E7;
    font-weight: 400;
    padding: 15px;
}
.search__input:focus{
    outline: none;
}
.search__button{
    display: flex;
    width: 10%;
    border-color: transparent;
    border-radius: 0px 5px 5px 0px;
    background: #E7E7E7;
    justify-content: flex-end;
    align-items: center;
}

/*Typographie*/
.text__DMSans{
    font-family: 'DM Sans', sans-serif;
}
.text__Lato{
    font-family: 'Lato', sans-serif;
}
.text__Roboto{
    font-family: 'Roboto', sans-serif;
}

/*tout les filtres*/
section.filters {
    display: flex;
    width: 75%;
    margin-top: 20px;
}
/*filtre ingredients*/
.filters__ingredients {
    width: 20%; 
}

.filter__ingredients--bloc {
    display: flex;
    align-items: center;
    background-color: #3282F7;
    color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
}
.filter__ingredients--title{
    font-size: 18px;
}

.header__filtre--ingredients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3282F7;
}

input.filter__ingredients--input {
    width: 100%;
    border: none;
    background-color: #3282F7;

}
i.fa-solid.fa-chevron-up.filter__ingredients--chevronUp {
    color: white;
}
ul.filter__ingredients--list {
    background: #3282F7;
}
.tag__ingredient{
    background-color: #3282F7;
    height: auto;
    width: 150px;
    color: #FFF;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
/*filtre appareils*/
.filters__appliances {
    width: 20%;
    margin-left: 20px;
}
.filter__appliances--bloc {
    display: flex;
    align-items: center;
    background-color: #68D9A4;
    color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
}
.filter__appliances--title{
    font-size: 18px;
}
.header__filtre--appliances {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input.filter__appliances--input {
    width: 100%;
    border: none;
}
i.fa-solid.fa-chevron-up.filter__appliances--chevronUp {
    color: white;
}
/*filtre ustensils*/
.filters__ustensils {
    width: 20%;
    margin-left: 20px;
}
.filter__ustensils--bloc {
    display: flex;
    align-items: center;
    background-color: #ED6454;
    color: white;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
}
.filter__ustensils--title{
    font-size: 18px;
}
.header__filtre--ustensils {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input.filter__ustensils--input {
    width: 100%;
    border: none;
}
i.fa-solid.fa-chevron-up.filter__ustensils--chevronUp {
    color: white;
}
/*Carte des recettes*/
section.recipes__cards--all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recipes__cards {
    width: 27%;
    margin-top: 50px;
}
.imgcards__containers{
    height: 178px;
    background: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}
.recipescards__containers {
    background-color: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    height: 50%;
}
/*En tête de la carte*/
.header__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title__cards{
    font-weight: 400;
    margin-top: 0px;
    font-size: 18px;
    width: 60%;
}
.timer__cards{
    font-weight: 700;
    margin-top: 0px;
}
/*Ingrediants et description de la carte*/
.info__cards{
    display: flex;
    
}
.ingrediants__cards{
    font-weight: 700;
    font-size: 10px;
    width: 40%;
    margin: 0px;
}
.description__cards {
    font-size: 12px;
    width: 50%;
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin-left: 30px;
}
